@import "../../scss/global.scss";

img {
  width: 100%;
}

.hero {
  img {
    width: 46%;
    display: flex;
    margin: auto;
    @include for-mobile-screen {
      width: 100%;
    }
  }
}

.projectTypeWrap {
  @include center;
  @include linkToFigma;
  @include for-mobile-screen {
    margin: 0 24px;
  }
  gap: 5%;
  .titleBox {
    text-align: left;
    P {
      font-weight: 400;
    }
  }
}
.titleWrap {
  text-align: center;
  margin: 40px 0 40px 0;
  .title {
    font-family: $secondaryFont;
  }
  .titleDesc {
    font-weight: 400;
  }
}

.container {
  width: 66%;
  margin: auto;
  margin-bottom: 10rem;

  @include for-mobile-screen {
    width: 100%;
    padding: 0px 24px;
  }
}

ul {
  margin-bottom: 24px;
  .insightsWrap {
    font-weight: 500;
    list-style: square;
    padding-bottom: 8px;
  }
}
.phase {
  background-color: $lightGrey;
  padding: 24px;
  font-size: 24px;
  font-family: $secondaryFont;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  color: #c8c8c8;
  font-size: 20px;
  text-transform: uppercase;
  margin: 8% 0px 4% 0px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}

.stepWrap {
  margin-top: 10%;
  .prototype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    video {
      @include for-mobile-screen {
        width: 80%;
        height: auto;
      }
    }
    @include linkToFigma;
  }
}

.keyWrap {
  display: flex;
  flex-direction: column;
  .key {
    padding: 16px 32px;
    // height: 70px;
    background-color: $lightGrey;
    margin-left: 16px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: auto;
      margin-right: 8px;
    }
  }
}

.UTWrap {
  img:nth-child(even) {
    margin: 6rem 0 6rem 0;
  }
}

.finalDesignWrap {
  background-color: $lightGrey;
  padding: 40px 40px 40px 0px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-top: -8%;

  img {
    width: 20%;
    margin-left: 32px;
    border-radius: 12px;
    @include for-mobile-screen {
      width: 60%;
    }
  }
}
